name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: nwolverson/setup-purescript@30d9b862f160b3a09a21a6457d6bc0d1ac9e92f3
        with:
          purescript: "0.15.2"
          spago: "latest"

      - uses: actions/setup-node@v1
        with:
          node-version: "16"

      - name: Install dependencies
        run: |
          npm ci

      - name: Build source
        run: npm run-script build

      - name: Test
        run: npm test
